<div class="row"><br/>

    <h2 style="margin-bottom: 2%;margin-top: 2%; border-bottom: solid 2px;">Employee Details</h2>

  <legend style="margin-bottom: 2%;margin-top: 2%; border-bottom: solid 2px;">Personal Details :</legend>

  <div style="width: 100%; display: block;">
    <div class="mb-3">
      <label for="employeename" class="form-label"><b> Name: </b> &nbsp; {{ employee.employee_name }}</label>
    </div>

    <div class="mb-3">
      <label for="employeeemail" class="form-label"><b>Email :</b> &nbsp; {{ employee.employee_email }}</label>
    </div>

    <div class="mb-3">
      <label for="employeeaddress" class="form-label"><b>Address:</b> &nbsp; {{ employee.employee_address }}</label>
    </div>


    <div class="mb-3">
      <label for="employeecontactnumber" class="form-label"><b>Conatct Number:</b> &nbsp; {{ employee.employee_contact }}</label>
    </div>

    <div class="mb-3">
      <label for="employeegender" class="form-label"><b>Gender:</b> &nbsp; {{ employee.gender }}</label>
    </div>

    <div class="mb-3">
      <label for="employeedob" class="form-label"><b>Date of Birth:</b> &nbsp; {{ employee.date_of_birth }}</label>
    </div>
  </div>

  <legend style="margin-bottom: 2%;margin-top: 2%; border-bottom: solid 2px;">Professional Experiences :</legend>
  <div style="width: 100%; display: block;">
    <div class="mb-3">
      <label for="employeesalary" class="form-label"><b>Company Name:</b> &nbsp; {{ employee.company_name }}</label>
    </div>

    <div class="mb-3">
      <label for="employeedesignation" class="form-label"><b>Position:</b> &nbsp; {{ employee.employee_designation }}</label>
    </div>

    <div class="mb-3">
      <label for="employeeerxpersion" class="form-label"><b>Experience:</b> &nbsp; {{ employee.employee_expersion }}</label>
    </div>

    <div class="mb-3">
      <label for="employeeerxpersion" class="form-label"><b>Location:</b> &nbsp; {{ employee.expersion_location }}</label>
    </div>

    <div class="mb-3">
      <label for="employeeexpstartdate" class="form-label"><b>Start Date:</b> &nbsp; {{ employee.experience_start_date }}</label>
    </div>

    <div class="mb-3">
      <label for="employeeexpstartdate" class="form-label"><b>End Date:</b> &nbsp; {{ employee.experience_end_date }}</label>
    </div>

    <div class="mb-3">
      <label for="employeetechnicalskills" class="form-label"><b>Employee Technical Skills:</b> &nbsp; {{ employee.employee_technical_skill }}</label>
    </div>
  </div>

  <legend style="margin-bottom: 2%;margin-top: 2%; border-bottom: solid 2px;">Educational Details:</legend>

  <div style="width: 100%; display: block;">
    <div class="mb-3">
      <label for="employeeeducation" class="form-label"> <b>School:</b> &nbsp; {{ employee.employee_education }} </label>
    </div>

    <div class="mb-3">
      <label for="employeetechnicalskills" class="form-label"> <b>Degree:</b> &nbsp; {{ employee.employee_degree }} </label>
    </div>

    <div class="mb-3">
      <label for="employeetechnicalskills" class="form-label"> <b>Field of Study:</b> &nbsp; {{ employee.employee_field_study }} </label>
    </div>

    <div class="mb-3">
      <label for="employeetechnicalskills" class="form-label"> <b>Grade:</b> &nbsp; {{ employee.education_grade }} </label>
    </div>

    <div class="mb-3">
      <label for="employeeexpstartdate" class="form-label"><b>Start Date:</b> &nbsp; {{ employee.education_start_date }}</label>
    </div>

    <div class="mb-3">
      <label for="employeeexpstartdate" class="form-label"><b>End Date:</b> &nbsp; {{ employee.education_end_date }}</label>
    </div>
  </div>

</div>

