
<style>
  ::ng-deep ngb-modal-backdrop {
    z-index: 0 !important;
    opacity: 0 !important;
  }
  .tosterdiv{
  background-color: green;
  width: 60%;
  padding: 8px;
  padding-left: 21px;
  padding-top: 14px;
  float: right;
  margin-bottom: 20px;
}

</style>
<hr>
<div class="row">

  <h1 class="col-md-6"> Employees </h1><br/><br/>
  <div class="col-md-6" *ngIf="showMessageDiv == true">
    <div class="tosterdiv"  (click)="hideTostermassage()">
      <label style="color:azure">{{TosterMassage}}</label>
    </div>
  </div>
</div>
<br/>
  <div>
  <button class="btn btn-primary" (click)="open(AddEditEmployee)"> Add New User </button>
</div><br/>


<div>
  <table class="table table-striped" width="100%">
    <thead>
      <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Email </th>
        <th> Mobile </th>
        <th> Gender </th>
        <th> Company </th>
        <th> Position </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="employeelist">
      <tr *ngFor="let employee of employeelist">
        <td>{{ employee.id }}</td>
        <td>{{ employee.employee_name }}</td>
        <td>{{ employee.employee_email }}</td>
        <td>{{ employee.employee_contact }}</td>
        <td>{{ employee.gender }}</td>
        <td>{{ employee.company_name }}</td>
        <td>{{ employee.employee_designation }}</td>
        <td colspan="2">
          <button type="button" class="btn" (click)="openEdit(employee.id,AddEditEmployee)" title="Edit User"> <i class="fa-solid fa-pen"></i> </button>&nbsp;<button type="button" class="btn" (click)="deleteEmployee(employee.id)" title="Delete User"> <i class="fa-solid fa-trash"></i> </button>&nbsp;
          <a type="button" class="btn" routerLink="/profile/{{ employee.id }}" target="_blank" > <i class="fa-solid fa-user" title="Profile Link"></i> </a>
          <button type="button" class="btn" (click)="openSendEmail(emailEmployee,employee.id,employee.employee_email,employee.employee_name)" title="Email User"> <i class="fa-solid fa-mail-bulk"></i> </button>&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #AddEditEmployee let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Employee Form</h4>
    <button type="button" class="close" aria-label="Close" (click)="showEmployees()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <legend>Personal Details :</legend>

<div class="mb-3">
  <label for="employeename" class="form-label">Name</label>
  <input type="text" class="form-control" [(ngModel)]="employees.employee_name" #employeeName>
</div>

<div class="mb-3">
  <label for="employeeemail" class="form-label">Email</label>
  <input type="email" class="form-control" [(ngModel)]="employees.employee_email" #employeeEmail>
</div>

<div class="mb-3">
  <label for="employeeaddress" class="form-label">Address</label>
  <input type="text" class="form-control" [(ngModel)]="employees.employee_address" #employeeAddress>
</div>


<div class="mb-3">
  <label for="employeecontactnumber" class="form-label">Conatct Number</label>
  <input type="text" class="form-control" [(ngModel)]="employees.employee_contact" maxlength="10" #employeeContact>
</div>

<div class="mb-3">
  <label for="employeegender" class="form-label">Gender</label>
  <select [(ngModel)]="employees.gender" #employeeGender class="form-control">
    <option value="0" selected>Select Gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
</div>

<div class="mb-3">
  <label for="employeedob" class="form-label">Date of Birth</label>
  <input type="date" [(ngModel)]="employees.date_of_birth" class="form-control" #employeeDOB>
</div>

<div class="mb-3">
  <label for="employeeprofile" class="form-label">Profile Picture</label>
  <input type="file" class="form-control" [(ngModel)]="employees.employee_profile" #employeeProfile>
</div>

<legend>Professional Experiences :</legend>
<hr>

<div class="mb-3">
  <label for="employeesalary" class="form-label">Company Name</label>
  <input type="text" [(ngModel)]="employees.company_name" class="form-control" #employeeCompany>
</div>

<div class="mb-3">
  <label for="employeedesignation" class="form-label">Position</label>
  <input type="text" [(ngModel)]="employees.employee_designation" class="form-control" #employeePosition>
</div>

<div class="mb-3">
  <label for="employeeerxpersion" class="form-label">Experience</label>
  <input type="text" [(ngModel)]="employees.employee_expersion" class="form-control" #employeeExpersion>
</div>

<div class="mb-3">
  <label for="employeeerxpersion" class="form-label">Location</label>
  <input type="text" [(ngModel)]="employees.expersion_location" class="form-control" #employeeLocation>
</div>

<div class="mb-3">
  <label for="employeeexpstartdate" class="form-label">Start Date</label>
  <input type="date" [(ngModel)]="employees.experience_start_date" class="form-control" #employeeExpStartDate>
</div>

<div class="mb-3">
  <label for="employeeexpstartdate" class="form-label">End Date</label>
  <input type="date" [(ngModel)]="employees.experience_end_date" class="form-control" #employeeExpEndDate>
</div>

<div class="mb-3">
  <label for="employeetechnicalskills" class="form-label">Employee Technical Skills</label>
  <input type="text" [(ngModel)]="employees.employee_technical_skill" class="form-control" #employeeTechnicalSkills>
</div>

<legend>Educational Details:</legend>
<hr>

<div class="mb-3">
  <label for="employeeeducation" class="form-label"> School </label>
  <input type="text" [(ngModel)]="employees.employee_education" class="form-control" #employeeEduction>
</div>

<div class="mb-3">
  <label for="employeetechnicalskills" class="form-label"> Degree </label>
  <input type="text" [(ngModel)]="employees.employee_degree" class="form-control" #employeeDegree>
</div>

<div class="mb-3">
  <label for="employeetechnicalskills" class="form-label"> Field of Study </label>
  <input type="text" [(ngModel)]="employees.employee_field_study" class="form-control" #employeeStudy>
</div>

<div class="mb-3">
  <label for="employeetechnicalskills" class="form-label"> Grade </label>
  <input type="text" [(ngModel)]="employees.education_grade" class="form-control" #employeeGrade>
</div>

<div class="mb-3">
  <label for="employeeexpstartdate" class="form-label">Start Date</label>
  <input type="date" [(ngModel)]="employees.education_start_date" class="form-control" #employeeEduStartDate>
</div>

<div class="mb-3">
  <label for="employeeexpstartdate" class="form-label">End Date</label>
  <input type="date" [(ngModel)]="employees.education_end_date" class="form-control" #employeeEduEndDate>
</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="add();"> Save </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<ng-template #emailEmployee let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Send Email</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="mb-3">
      <label for="employeeemail" class="form-label">To</label>
      <input type="email" class="form-control" [(ngModel)]="Sendcostomeemail" #employeeEmail>
      <input type="hidden" class="form-control" [(ngModel)]="Sendcostomerid" #employeeEmail>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="SendProfile(Sendcostomerid,Sendcostomeemail)"> Send </button>
  </div>
</ng-template>
